*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin flex($align:flex-start,$justify:flex-start,$wrap:nowrap,$dir:row) {
    dislay:flex;
    align-items: $align;
    justify-content:$justify;
    flex-wrap: $wrap;
    flex-direction: $dir;

}
body{
    overflow-x: hidden;

}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
}
body{
    font-family: "Poppins", sans-serif !important;
    font-size: 16px;
    line-height: 1;
}
.wapper{
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.background{
    z-index: 1;
    position: absolute;
    &-img{
        width: 100%;
        height: 1000px;
    }
}
.header{
    z-index: 100;
    display: flex;
    position: absolute;
    width: 100%;
    
    &__left{
        
        padding-top: 22.6px;
        padding-left: 493px;
        &-logo{
            &--img{
            width: 552px;
            height: 50px;
            filter: drop-shadow(0 0 5px rgb(21, 21, 22));  
            }
        }
        &-menu{
            padding-top: 17px;
            padding-left: 35px;
            display: flex;
            @include flex(center);
            &--item{
                margin-left: 12px;
                a{
                    font-weight: bold;
                    font-size: 15px;
                    color: black;
                    text-transform: uppercase;
                }
            }

        }
        button{
                outline: none;
                border: 3px solid white ;
                background-color: transparent;
                border-radius: 15px;
                width: 118px;
                height: 50px;
                margin-left: 205px;
                margin-top: 500px;
                
                .btn-link{
                    color: white;
                    font-weight: bold;
                }
        }
        
    }
    &__right{
        display: flex;
        padding-left: 100px;
        padding-top: 32px;
        
        margin-left: auto;
        &-iconsearch,
        &-iconcart,
        &-iconuser{
            width: 20px;
            height: 20px;
            margin-right: 59px;
        }
    }
}
.banner{
    height: 798px;
    width: 100%;
    padding-top: 1001px;
    &-img{
        height: 798px;
        width: 100%;
    }
}
.product{
    
    padding-top: 799px;
    border-bottom: 15px solid #d1d1d1;
    &__list{
        display: flex;
        @include flex(center,space-between );
        padding: 15px 25px 0px 25px;
    }
    &__item{
        width: calc(25% - 13px);
        &-img{
        border-radius: 5px;
        }
    }
}
.footer{
    
    &__container{
        padding-bottom: 25px;
        display: grid;
        padding-top: 25px;  
    }
    &__logo{
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 60px;
        &-img{
            width: 400px;
            height: 33px;
        }
       
    }
    &__logo,
    &__contact{
        padding-left: 150px;
    }
    &__contact{
        grid-column: 1;
        grid-row: 2;
        li{
            padding: 5px;
        }
        p{
            font-size: 0.8rem;
            font-weight: 400;

        }
        span{
            padding: 0;
            margin: 0;
        }
    }
    &__notification{
        grid-row: 1;
        grid-column: 2;
        input{
            outline: none;
            border: 0;
            width: 200px;
            height: 25px;
            border-bottom: 1px solid black ;
            margin-left: 15px;
        }
        .submit{
            border: 0;
            outline: none;
            background-color: #cccccc;
            border-radius: 10px;
            width: 80px;
            height: 27px;
            margin-left: 15px;
        }
    }
    &__social{
        grid-row: 2;
        grid-column: 2;
        .icon{
            display: flex;
            i{
                padding-left: 40px;
            }
            
        }
    }
    &__follow{
        grid-row: 1 / span 2;
        grid-column: 3;
        padding-right: 150px;
    }
    &__title{
        margin-bottom: 25px;
    }
    h3{
        font-size: 1.2rem;
        font-weight: 500;
    }
}
.copyright{
    width: 100%;
    height: 35px;
    background-color: black;
    &__text{
        color: white;
        text-align: center;
        font-size: 18px;
        padding-top: 8px;
    }
}

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    display: none;
  }